.loading-container {
  /* background-color: #333; */
  overflow: hidden;
  position: absolute;
}

/* .loading-container:before {
  content: "LOADING";
  position: absolute;
  top: 335px;
  left: 99px;
  bottom: 0%;
  border-bottom: 1px solid #aaa;
  color: #aaa;
  font: bold 22px arial;
}

.loading-container:after {
  content: "Mo7amed-3li.com";
  position: absolute;
  top: 367px;
  left: 10%;
  bottom: 0%;
  color: #aaa;
  font: 12px arial;
} */

.loading-bar {
  width: 10%;
  height: 5px;
  display: block;
  background-color: #ed1b4c;
  position: absolute;
  opacity: 0.66;
  bottom: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.loading-bar:nth-of-type(2) {
  left: 10%;
  bottom: 0%;
  background-color: #f6db68;
}

.loading-bar:nth-of-type(3) {
  left: 20%;
  bottom: 0%;
  background-color: #a91f6a;
}

.loading-bar:nth-of-type(4) {
  left: 30%;
  bottom: 0%;
  background-color: #2e9699;
}

.loading-bar:nth-of-type(5) {
  left: 40%;
  bottom: 0%;
  background-color: #f46844;
}

.loading-bar:nth-of-type(6) {
  left: 50%;
  bottom: 0%;
  background-color: #ed1b4c;
}

.loading-bar:nth-of-type(7) {
  left: 60%;
  bottom: 0%;
  background-color: #f6db68;
}

.loading-bar:nth-of-type(8) {
  left: 70%;
  bottom: 0%;
  background-color: #a91f6a;
}

.loading-bar:nth-of-type(9) {
  left: 80%;
  bottom: 0%;
  background-color: #2e9699;
}

.loading-bar:nth-of-type(10) {
  left: 90%;
  bottom: 0%;
  background-color: #f46844;
}

.loading-bar:nth-of-type(11) {
  left: 100%;
  bottom: 0%;
  background-color: #ed1b4c;
}
